[submodule "src/github.com/asticode/go-astilectron-bootstrap"]
	path = src/github.com/asticode/go-astilectron-bootstrap
	url = https://github.com/asticode/go-astilectron-bootstrap
[submodule "src/github.com/asticode/go-astilectron"]
	path = src/github.com/asticode/go-astilectron
	url = https://github.com/asticode/go-astilectron
[submodule "src/github.com/asticode/go-astilectron-bundler"]
	path = src/github.com/asticode/go-astilectron-bundler
	url = https://github.com/asticode/go-astilectron-bundler
[submodule "src/github.com/asticode/go-astilog"]
	path = src/github.com/asticode/go-astilog
	url = https://github.com/asticode/go-astilog
[submodule "src/github.com/asticode/go-astitools"]
	path = src/github.com/asticode/go-astitools
	url = https://github.com/asticode/go-astitools
[submodule "src/github.com/asticode/go-bindata"]
	path = src/github.com/asticode/go-bindata
	url = https://github.com/asticode/go-bindata
